
html {
  /* 1rem = 10px*/
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  z-index: 0;

  font-size: 1.2rem;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

h1 {
  line-height: 3.2rem;
  font-size: 3.2rem;
}

h2 {
  line-height:2.4rem;
  font-size: 2.4rem;
}

h3 {
  line-height: 1.6rem;
  font-size: 1.6rem; 
}

h4 {
  line-height: 1.2rem;
  font-size: 1.2rem;
}
h5 {
  line-height:1rem;
  font-size: 1rem;
}
h6 {
  line-height: .8rem;
  font-size: .8rem;
}

/* Global Styling */
* {
  /* Properties */
  /* - Sizes */
  --height-header: 5.6rem;
  /* - Colors */
  /* -- Background */
  --color-bg-primary: #030303;
  --color-bg-secondary: #282828;
  --color-bg-tertiary: #FFFFFF;
  --color-bg-page-selected:#666666;
  --color-bg-card: #F5F5F5;
  
  /* -- Font */
  --color-font-primary: #FFFFFF;
  --color-font-secondary: #2b2b2b;
  --color-font-tertiary: #818181;

  /* -- Button */
  --color-btn-primary: #FFFFFF;
  --color-btn-secondary: #808080;
  --color-btn-bg: #D2D2D250;
}